{% load static%}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'pegb/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pegb/css/main_menu.css' %}">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href="{% static 'pegb/css/mobile.css' %}">
    
    <title style="padding-left: 10px;">Pegb Ecommerce</title>
     <link rel="shortcut icon" href="/static/pegb/images/favico.ico" />

</head>
<body class="login-bg" >
<div class="col-md-12 col-sm-12 col-xs-12 pad-top-bottom-10" style="background-color:#be4bdb;">
    <img class="img-login" src="/static/pegb/images/company.jpg"></img>
    <div class="company-font">Pegb Ecommerce</div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 pad-top-bottom-20"></div>
<br/><br/>
<div class="container login-width">
    <form method="post" action="" class="form-signin" autocomplete="off">
            {% csrf_token %}
             <div class="divider-header">Sign In</div>
            <!-- <div class="col-md-12 col-sm-12 col-xs-12 header pad-top-bottom-20 title-font">>Sign In</div> -->
            <div class="divider-header"></div>
            <div class="col-md-12 col-sm-12 col-xs-12 pad-top-bottom-20">

                 <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="controls">
                    {{ form.username }}
                    </div>
                    <span class="validation">{{ form.username.errors|striptags }}</span>

                 </div>
                <br/>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="controls">
                        {{ form.password }}

                    </div>
                    <span class="validation">{{ form.password.errors|striptags }}</span>
                 </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 pad-top-bottom-20">

                    <div  class="col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" VALUE="Login" class="btn-login" ></input>                
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 pad-top-bottom-10">
                     <a class="btn-forgot-password" style="text-decoration: none;" href="/user/register">Forgot Password ? </a>
                    </div>


                    <div class="col-md-12 col-sm-12 col-xs-12 pad-top-bottom-10">

                    <span class="mobile-font"><hr>OR<hr></span>

                    </div>

                    <div  class="col-md-12 col-sm-12 col-xs-12">

                        <a class="btn-register" style="text-decoration: none;color: #fff;" href="/user/register">Create New Account</a>

<!--                    <input type="button" VALUE="Create New Account" class="btn-register" />-->

                    </div>

                </div>



    </form>
</div>
</body>

<div class="col-md-12 col-sm-12 col-xs-12 pad-top-bottom-10" style="background-color: ghostwhite;margin-top:40px;position: relative;z-index: 101;">

    <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="footer-font pad-top-bottom-10">Contact Us</div>
        <div class="footer-font pad-top-bottom-10">+95 9772446147</div>
        <div class="footer-font pad-top-bottom-10"><a href="https://www.linkedin.com/in/mayyi-aung-6a6185a3/">May Yi Aung</a></div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-font pad-top-bottom-10" style="font-size: y;font-family: serif;">
            Developed By May Yi Aung</div>
    </div>
     <div class="col-md-2 col-sm-2 col-xs-12">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12">
        <div class="footer-font pad-top-bottom-10">About Us</div>
        <div class="footer-font pad-top-bottom-10">News</div>
        <div class="footer-font pad-top-bottom-10">Career</div>
    </div>
</div>
</html>
